* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Circular", "Helvetica", "Arial", sans-serif;
  line-height: 1.45;
  letter-spacing: -0.2px;
  background-color: $background;
  color: $text;
  text-align: left;
  min-height: 100vh;
  overflow-x: hidden;

  &.overflow {
    overflow: hidden !important;
  }
}

input,
select,
textarea,
button {
  font-family: "Circular", "Helvetica", "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: $text;
  transition: opacity ease-out 0.2s;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: 3px solid rgba($text, 0);
    outline-offset: 2px;
  }
}

p {
  display: block;
  margin-bottom: 12px;
}

button {
  line-height: 1.45;
}

svg {
  pointer-events: none;
}

span {
  display: block;
}

.table {
  background-color: #ffffff;
  color: $text;
  width: 100%;
}

.table td,
.table th {
  border: solid $background;
  border-width: 0 0 1px;
  padding: 16px 24px;
  vertical-align: middle;
}

.table th {
  color: $text;
}

.table thead {
  background-color: transparent;
}

.table thead td,
.table thead th {
  border-width: 0 0 2px;
  color: $text;
}
.table tbody {
  background-color: transparent;
}

.table tbody tr:last-child td,
.table tbody tr:last-child th {
  border-bottom-width: 0;
}

[hidden],
.hidden {
  display: none;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  width: 0;
}

.screen-only {
  position: absolute;
  top: -100000px;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

button:disabled,
button[disabled] {
  cursor: not-allowed !important;
  opacity: 0.6 !important;
}

@media (min-width: 1025px) {
  #device:after {
    content: "desktop";
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #device:after {
    content: "tablet";
  }
}

@media (max-width: 767px) {
  #device:after {
    content: "mobile";
  }
}
