$old-phone: 480px;
$phone: 768px;
$tablet: 992px;
$desktop: 1200px;
$lg-desktop: 1600px;

$primary: #007aff;
$background: #fafcfd;
$title: #1e293b;
$text: #334155;
$subtitle: #64748b;
$outline: 3px solid rgba(#15161c, 0.6);

$success: #2ecc71;
$error: #e74c3c;
$danger: #e74c3c;
$warning: #ed8936;
$info: #2091dc;

$inputBorder: #dde2ec;
